<li>
    <a
        class="sonata-action-admin-element"
        href="{{ admin.generateUrl('import') }}"
    >
        <i class="fas fa-level-up-alt"></i> {{ 'import_action'|trans({}, 'SonataAdminBundle') }}
    </a>
</li>